/* #dee2ee */

h1 {
	margin: 2rem 0;
	margin-left: 0.7rem;
	text-align: center;
}

h4 {
	font-size: 1rem;
	margin-top: 1em;
}

.shop {
	/* width: 90%; */
	max-width: 300px;
	margin: 0 auto;
	margin-bottom: 1.5em;
	padding: 2em;
	font-size: 0.875rem;
	background-color: #fff;
}

.product {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1em;
	border: 1px solid #dee2ee;
}

.product:not(:last-of-type) {
	margin-bottom: 2.5em;
}

.product-img {
	width: 100%;
	border-radius: 10px;
}

.product > p {
	padding: 1em 0;
}

.cta {
	border: none;
	cursor: pointer;
	margin-bottom: 0;
	padding: 1em 1.5em;
}

.margin-bottom {
	margin-bottom: 1em;
}

@media (min-width: 62em) {
	h1 {
		margin-bottom: 0;
		font-size: 3.25rem;
	}

	.order-form {
		width: 100%;
		margin: 0;
	}
}
